body {
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 450px;
  text-align: center;
  color: white;
  background-color: black;
  border: 2px solid white;
}

.avatar {
  width: 50%;
}

/*Zoom IN/OUT*/
/* .click-zoom input[type="checkbox"] {
  display: none;
}
.click-zoom img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}
.click-zoom input[type="checkbox"]:checked ~ img {
  transform: scale(2);
  cursor: zoom-out;
} */

.card-body {
  background-color: #191919;
}

.card-body-header {
  font-weight: bold;
}

.card-body-phone-number {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.card-body-phone-number a {
  text-decoration: none;
  color: white;
}

.card-body button {
  width: 200px;
}

.card-body .email-link,
.cv-link {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
}

.card-body .email-link {
  color: white;
}

.card-body .cv-link {
  color: black;
}

.card-body-text-content {
  text-align: left;
  margin-top: 20px;
  padding: 0 1rem;
}

.card-body-text-content h5 {
  font-weight: bold;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-footer a {
  text-decoration: none;
}

.card-footer i {
  color: white;
  font-size: 50px;
}
